<%- include('./partials/part-1.ejs') %>
    <h3> Just Home Page </h3>
<%- include('./partials/part-2.ejs') %>
    <script>
        // custom js here
    </script>
<%- include('./partials/part-3.ejs') %>