<!-- jQuery 3 -->
<script src="/admin-portal-media/bower_components/jquery/dist/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="/admin-portal-media/bower_components/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>
<!-- Bootstrap 3.3.7 -->
<script src="/admin-portal-media/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="/admin-portal-media/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<!-- Slimscroll -->
<script src="/admin-portal-media/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="/admin-portal-media/bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/admin-portal-media/dist/js/adminlte.min.js"></script>
<!-- Select2 -->
<script src="/admin-portal-media/bower_components/select2/dist/js/select2.full.min.js"></script>

<script type="text/javascript"
        src="https://www.malot.fr/bootstrap-datetimepicker/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js?t=20130302">
</script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdn.ckeditor.com/4.12.1/standard/ckeditor.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.min.js"></script>
<script src="https://cdn.socket.io/3.1.1/socket.io.min.js"></script>
<script>
    const socket = io()

    $(document).ready(function () {
        $(".datetime").datetimepicker({
            format: 'yyyy-mm-dd hh:ii:ss',
            autoclose: true
        })
        setTimeout(function () {
            $('input[name="__schedule"]').val("{{ date('Y-m-d H:i:s') }}")
        } ,1500)
        $(".date").datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true
        })
        $(".datetime").attr("autocomplete", "off");
        $(".timer").timepicker({
            autoclose: true
        })
    })

    function delete_me(uri) {
        if(confirm('Are You Sure ,you want to delete this record ?')) {
            fetch(uri ,{method: 'DELETE'})
            .then(result => result.json())
            .then(response => window.location = response.location)
            .catch(err => {
                console.log(err)
            })
        } else {
            alert('Record will not deleted :D')
        }
    }

    socket.on('user-reservation' ,data => {
        console.log(data)
        const counter_tag = $("#notification-counter"),
            explain_tag = $("#notification-explain"),
            container_tag = $("#notification-ul-tag"),
            notification_html_content = `
                <li>
                    <a href="/admin/reservations/${data.reserve_number}">
                        <i class="fa fa-coffee text-red"></i> ${data.message}
                    </a>
                </li>
            `,
            new_counter = parseInt(counter_tag.text()) + 1
        counter_tag.text(new_counter)
        explain_tag.text(`You have ${new_counter} unread notification${new_counter > 1 ? 's' : ''}`)
        container_tag.prepend(notification_html_content)
    })

    function notify_user(user_id ,message ,id ,alert_type ,status) {
        socket.emit('notify-user' ,{user_id ,message ,id ,type: alert_type ,status})
    }
</script>